/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
}

/* Modal Content */
.modal-content {
  position: absolute;
  left: 28%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  max-height: 800px;
}

.modalSlides {
  height: 770px;
  display: flex;
  justify-content: center;
  width: 1000px;
  border-radius: 5px;
}

/* The Close Button */

button.close {
  background: none;
  border: none;
}
.close {
  z-index: 2000;
  color: #901c1c;
  position: absolute;
  top: 4%;
  right: 26%;
  font-size: 95px;
}

.close:hover,
.close:focus {
  color: #901c1c;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Style pour l'image dans le slide */
.mySlides img,
.mySlides video {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

/* Style pour le nom du média */
.media-name {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #f1f1f1;
  font-size: 20px;
}

button.prev,
button.next {
  background: none;
  border: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #901c1c;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "previous button" to the left */
.prev {
  left: -10%;
  border-radius: 3px 0 0 3px;
  font-size: 58px;
}

/* Position the "next button" to the right */
.next {
  right: 10%;
  border-radius: 3px 0 0 3px;
  font-size: 58px;
}

/* Caption text */
.caption-container p {
  color: #901c1c;
  font-size: 24px;
  margin: 5px 0px;
}

/* Media Queries for screens smaller than 1440px */
@media (max-width: 1440px) {
  .close {
    right: 8%;
  }
}
