#main {
  display: grid;
  justify-content: center;
  position: relative;
}

.logo_photographer {
  height: 50px;
}

#contact_modal {
  display: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* Header */
.photograph-header {
  background-color: #fafafa;
  height: 300px;
}

.headerPhotograph {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}

.photograph-intro h1 {
  color: #d3573c;
  font-size: 65px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.photograph-intro h2 {
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
.photograph-intro p {
  color: #525252;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  margin-top: 20px;
}
.photograph-header .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
  overflow: hidden;
  background: #c4c4c4;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.photograph_medias {
  display: flex;
  justify-content: flex-start;
  height: 90px;
}

/* Trie*/

.visually-hidden {
  visibility: hidden;
  display: none;
}

.sort-container {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort-container label {
  margin-right: 10px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.sort-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 160px;
  cursor: pointer;
  background-color: #901c1c;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px 5px 3px 3px;
}

.sort-button span {
  margin: 5px;
  flex-grow: 1;
}

.sort-button i {
  margin-left: 10px;
}

.sort-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #901c1c;
  border-radius: 0px 0px 5px 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.sort-options li {
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-top: 1px solid white;
  margin: 0 10px;
}

.sort-options li:last-child {
  border-bottom: none;
}

/* lien*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Contact button*/

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  margin-right: 10%;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/* Media */

.photograph-medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  margin-top: 50px;
}
.media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.media-card {
  display: grid;
  overflow: hidden;
  max-width: 350px;
  max-height: 350px;
  border: none;
  background-color: white;
  padding: 0px;
}

.media-container {
  width: 350px;
  height: 300px;
  cursor: pointer;
}

.media-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.media-title {
  display: flex;
  align-items: center;
  color: #901c1c;
  font-size: 22px;
  font-weight: 400;
}

/* LIKES */
.like-container {
  display: flex;
  align-items: center;
}

.like-count {
  color: #901c1c;
  font-size: 1.5rem;
  margin-right: 5px;
}

.like-button {
  margin: 0;
  color: #901c1c;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: right;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Modal content */

#contact_modal {
  z-index: 1;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(196, 196, 196, 0.4);
  overflow: auto;
}

#header-contact {
  font-size: 70px;
  font-weight: normal;
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.modalContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #db8876;
  border-radius: 5px;
  padding: 50px 35px 35px 35px;
  margin: auto;
  margin-top: 35px;
  height: 790px;
  width: 600px;
}

.modalContent header {
  justify-content: space-between;
  width: 100%;
}
.modalContent header img {
  cursor: pointer;
  position: absolute;
  top: 70px;
  right: 35%;
}
.modalContent header h2 {
  font-size: 66px;
  font-weight: normal;
}

#form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

#form-group form div {
  margin: 0;
}

.form-contact {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.form-contact label {
  margin-top: 5px;
  color: #312e2e;
  font-size: 36px;
}
.form-contact div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
.form-contact input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#contact-message input {
  height: 150px;
  margin-bottom: 20px;
}

#contact-message #message {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

/* Media Queries for screens smaller than 1440px */
@media (max-width: 1367px) {
  .photograph-intro h1 {
    margin-bottom: 10px;
  }
  .modalContent header img {
    right: 30%;
  }
}
/* Partie tarification*/

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 376px;
  height: 73px;
  bottom: 0;
  right: 36px;
  border-radius: 5px 5px 0 0;
  background-color: #db8876;
}

.photographer-likes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  z-index: 1;
}

.photographer-likes p {
  font-weight: 600;
  font-size: 25px;
}

.price-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 376px;
  height: 73px;
  bottom: 0;
  right: 36px;
  border-radius: 5px 5px 0 0;
  background-color: #db8876;
  z-index: 0;
}

.price-container p {
  margin-left: 40%;
  font-weight: 600;
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  .headerPhotograph {
    position: relative;
    left: 20px;
  }
  .photograph-intro h1 {
    font-size: 50px;
  }
  .img-container {
    position: relative;
    right: 30px;
  }
  .photograph-medias {
    justify-content: center;
  }
  .modalContent {
    width: 400px;
    margin-top: unset;
  }
  .header-contact {
    font-size: -webkit-xxx-large;
  }
  .modalContent header img {
    right: 22%;
    top: 5%;
  }
  .form-contact label {
    font-size: 30px;
  }
}
