@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
  font-weight: 400;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;
  margin: 100px 0;
}

.photographer_section figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.photographer_section figure figcaption {
  font-weight: 400;
  color: #d3573c;
  font-size: 33px;
  margin: 20px 0 0 0;
}

.photographer_section figure img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
}

.photographer_section figure a {
  color: #901c1c;
  margin: 3px;
  text-decoration: none;
}

.location {
  color: #901c1c;
  margin: 0;
  font-size: 20px;
}

.tagline {
  font-weight: 400;
}

.tagline,
.price {
  margin: 3px 0 0 0;
  font-size: 13px;
}

.price {
  color: #757575;
}

/* Media Queries for screens plus petits que 1367px */
@media (max-width: 1367px) {
  .photographer_section {
    margin: 100px 0;
  }
  h1 {
    margin-left: 5%;
  }
}
